<a href="https://colab.research.google.com/github/polock11/supervised_and_unsupervised_learning/blob/main/Supervised_Learning_accuracy_metrics_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Accuracy Metrics 
* Mean Squared Error
* Root Mean Squared Error
* Mean Percentage Error
* R squared or Cefficient of Determination

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
actual_value = [1,2,3,4,5,6,7,8,9,10]
predicted_value = [1,3,4,5,6,5,6,5,8,9]

df = pd.DataFrame({'actual_val':actual_value,
                   'pred_val': predicted_value})

df['residual'] = df["actual_val"]-df['pred_val']

df

   actual_val  pred_val  residual
0           1         1         0
1           2         3        -1
2           3         4        -1
3           4         5        -1
4           5         6        -1
5           6         5         1
6           7         6         1
7           8         5         3
8           9         8         1
9          10         9         1

In [ ]:
# Mean Absolute Error: Average of the absolute difference of the actual and predicted value

df['abs'] = df['residual'].abs()

MAE = df['abs'].mean()

print("MAE:" , MAE)

MAE: 1.1

In [ ]:
# Mean Squared Error: Average of the squared difference of the actual and predicted value

df['squared_diff'] = df['residual']**2

MSE = df['squared_diff'].mean()

print("MSE:" , MSE)

MSE: 1.7

In [ ]:
# Root Mean Squared Error  
RMSE = np.round(np.sqrt(MSE),2)

print("RMSE:" , RMSE)

RMSE: 1.3

In [ ]:
# R-squared Error

df['actual_sub_mean'] = df['actual_val'] - df['actual_val'].mean()
df['squared_actual_sub_mean'] = df['actual_sub_mean']**2

r_2 = np.round((1 - (df['squared_diff'].sum()/df['squared_actual_sub_mean'].sum())), 2)

print('R_2: ', r_2)

R_2:  0.79

In [ ]:
df

,actual_val,pred_val,residual,abs,squared_diff,actual_sub_mean,squared_actual_sub_mean
0,1,1,0,0,0,-4.5,20.25
1,2,3,-1,1,1,-3.5,12.25
2,3,4,-1,1,1,-2.5,6.25
3,4,5,-1,1,1,-1.5,2.25
4,5,6,-1,1,1,-0.5,0.25
5,6,5,1,1,1,0.5,0.25
6,7,6,1,1,1,1.5,2.25
7,8,5,3,3,9,2.5,6.25
8,9,8,1,1,1,3.5,12.25
9,10,9,1,1,1,4.5,20.25